/* ============================================================
 * 10_combos.dtsi — コンボ定義
 *
 * combos { compatible = "zmk,combos"; } の内側でインクルードされる。
 * ============================================================ */

scroll_toggle {
    bindings = <&tog 5>;
    key-positions = <7 8>;
};

mb2_combo {
    bindings = <&mkp MB2>;
    key-positions = <19 18>;
};

drag_off_combo {
    bindings = <&drag_off>;
    key-positions = <32 31>;
};

key1 {
    bindings = <&kp EXCLAMATION>;
    key-positions = <17 18>;
};

key2 {
    bindings = <&kp QUESTION>;
    key-positions = <29 30>;
};

scrl_up {
    bindings = <&msc MOVE_UP>;
    key-positions = <21 33>;
};

scrl_down {
    bindings = <&msc MOVE_DOWN>;
    key-positions = <33 42>;
};

left_shift {
    bindings = <&kp LEFT_SHIFT>;
    key-positions = <0 1>;
};

right_shift {
    bindings = <&kp RIGHT_SHIFT>;
    key-positions = <8 9>;
};

tab {
    bindings = <&kp TAB>;
    key-positions = <11 12>;
};

lctab {
    bindings = <&kp LS(TAB)>;
    key-positions = <1 2>;
};

click {
    bindings = <&mkp MB1>;
    key-positions = <19 20>;
};

escape {
    bindings = <&kp ESCAPE>;
    key-positions = <40 41>;
};
