/* ============================================================
 * layers/02_arrow_sign.dtsi — [ Synthesis 02 ] ARROW_SIGN
 * ============================================================ */

ARROW_SIGN {
    bindings = <
&kp LEFT_ARROW      &kp LEFT_ARROW       &kp UP_ARROW     &kp RIGHT_ARROW  &kp RIGHT_ARROW                                     &kp CARET         &kp AMPERSAND      &kp TILDE       &kp LEFT_PARENTHESIS  &mt LEFT_SHIFT RIGHT_PARENTHESIS
&kp LEFT_ARROW      &kp LEFT_ARROW       &kp DOWN_ARROW   &kp RIGHT_ARROW  &kp HOME         &kp C_MUTE      &kp UNDERSCORE     &kp EXCLAMATION   &kp AT_SIGN        &kp HASH        &kp DOLLAR            &kp PERCENT
&kp LS(LEFT_ARROW)  &kp LS(RIGHT_ARROW)  &kp LS(LC(TAB))  &kp LC(TAB)      &kp END          &kp ESC         &kp DOUBLE_QUOTES  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE       &kp BACKSLASH
&trans              &trans               &trans           &to 0            &trans           &trans          &kp BACKSPACE      &kp ENTER                                                                  &kp PIPE
    >;

    sensor-bindings = <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>;
};
