/* ============================================================
 * layers/06_bluetooth.dtsi — [ Synthesis 06 ] Bluetooth
 * ============================================================ */

Bluetooth {
    bindings = <
&trans  &trans  &trans  &trans  &trans                                              &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans  &trans           &trans             &studio_unlock  &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &kp LG(LA(ESC))  &kp LC(LG(Q))      &bootloader     &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans  &trans  &trans  &trans           &trans             &trans          &trans                                                  &bt BT_CLR_ALL
    >;

    sensor-bindings = <&rotate>;
};
